body {
 background-color: #170701;
}
.genero{
    text-align: center;
    
}
h1{
    color: #d4ac0d
}
h3{
    color: #d4ac0d
}
p{
    color: lightgrey
}
li{
    color: lightgrey
}
label{
    color: lightgrey
}
.info{
    color:#d4ac0d
}


